<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<form method="POST" action="/add/user">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="mobile">Mobile:</label>
    <input type="mobile" name="mobile" id="mobile" required>
    <br>
    <input type="submit" value="Add User">
</form>
</body>
</html>