<!DOCTYPE html>

<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <title>Web Learning By Examples</title>
</head>

<body>
    <h1>Web H1</h1>
    <div>div : Block Level Labeling</div>
    <span>span : Inline Level Labeling</span>
    <span>span : As big as you are</span>
    <div>div : occupies an entire line</div>

    <a href="https://www.bilibili.com/">bilibili</a>
    <a href="https://www.bilibili.com/" target="_blank">bilibili</a>

    <img src = "/static/img/logo.ico" alt="logo" width="100" height="100">

    <ul>
        <li>Unordered List 1</li>
        <li>Unordered List 2</li>
        <li>Unordered List 3</li>
    </ul>

    <ol>
        <li>Ordered List 1</li>
        <li>Ordered List 2</li>
        <li>Ordered List 3</li>
    </ol>

    <!-- table -->
    <table>
        <thead>
            <tr>
                <th> ID </th> <th> Name </th> <th> Age </th>
            </tr>
        </thead>
        <tbody>
            <tr> <td> 12 </td> <td> Tom </td> <td> 18 </td> </tr>
            <tr> <td> 13 </td> <td> Jerry </td> <td> 19 </td> </tr>
            <tr> <td> 14 </td> <td> Spike </td> <td> 20 </td> </tr>
        </tbody>
    </table>

    <!-- Input -->
    <input type="text"> 
    <input type="password">
    <input type="file">

    <input type="radio" name = "boys or girls"> 男
    <input type="radio" name = "boys or girls"> 女

    <input type="checkbox" name = "fruit"> Apple
    <input type="checkbox" name = "fruit"> Banana
    <input type="checkbox" name = "fruit"> Orange

    <input type="submit" value="Submit"> -->提交表单
    <input type="reset" value="Reset"> -->重置表单
    <input type="button" value="Button"> -->按钮

    <!-- select -->
    <div>
    <select>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>

    <select multiple>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
    </div>

    <!-- textarea : 多行文本 -->
    


    <h2>Web H2</h2>

    <h3>Web H3</h3>

    <h4>Web H4</h4>

    <h5>Web H5</h5>

    <h6>Web H6</h6>

</body>
</html>
